.reset();
@import "project.less";




.wrapper{
    .wrapper();
}


.debugGrid{
    .debug(rgba(0, 0, 0, 0.2), 1px solid #f90)
}

body{
    background-color: @color_background;
    font-family: 'BebasNeue';
}

header{
    background-color: @color_white;
    .header{
		
		.row-flex();
		padding:10px 5px 10px 20px;
		
		
        .logo{
			.col();
			.size(2);
            font-family: "Lobster";
            font-size: 49px;
            color:@color_logo;
        }
        
		.d3{
			.col();
			.size(8);
			text-align: center;
			align-self: center;
			
            form {
                
                input {
					width: 434px;
					height: 31px;
					

                }
            }
		}
		.bascet{
			.col();
			.size(1);
			text-align: right;
			align-self: center;
				img{
				 
				}	
		} 
        
		.total{
				.col();
				.size(1);
				text-align: left;
				align-self: center;
				color:@color_summa;
				font-size: 33px;
				font-family: 'BebasNeue';
		} 
    }
}

#mainMeniu{
    background-color: @color_meniuMain;
    
    .navMeniu{
    
        &_Main{
                .row-flex();

                ul{
                    .col();
                    .size(12);
                    padding: 7px 0;
                    

                    li{
                        display:inline;
                        font-size: 21px;
                        padding:0 19px;
                        box-sizing: border-box;
                        &:not(:first-of-type){
                            border-left: 1px solid;
                            border-color: @color_white;
                           
                        }
                        a{
                            text-decoration: none;
                            color:@color_white;
                        
                        }
                    }
                }
        }
    }
}

#slidesMain{
    color:@color_white;
    
    .slides{
        
        margin-bottom: 45px;
        .slide{
            .row-flex();
            justify-content: start;
            margin-top: 65px;
            div{
                .col();
                
            }
            .img{
                .size(5.3);
                text-align: center;
            }
            .slide_text{
                .size(5);
                padding: 5px 0 0 0px;
                
                h2{
                    line-height: 57px;
                    margin-bottom: 10px;
                }
                p{
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-size: 17px;
                	font-weight: 400;
                	line-height: 28px;
                    
                }
                .button{ 
                    display: inline-flex;
                    align-items: center; 
                    justify-content: center;
                    margin: 30px 0;
                    width: 139px;
                	height: 46px;
	                border-radius: 5px;
	                background:space;
                    font-size: 27px;
                    color:#ffffff;
                    font-family: 'BebasNeue';
                    border-color: @color_white;
                    border-width: 3px;
                    border: 3px solid;
                    text-align: center;
                    
                }
            }
        }
        
    }
}
#lineSlide{
    color: @color_nameProduct;
    background-color:  @color_white;
    .lineSlides{
        .row-flex();
        
        
        .lineSlide{
            
            .col();
            .size(4);
            padding: 27px 0 29px 0;
            
            
            .row{
                .row-flex();
                
                .img{
                    .col();
                    .size(7);
                    text-align: center;

                }
                .text{
                    .col();
                    margin-top: 25px;

                    h4{
                        line-height: 25px;
                    }
                    .batton{
                        margin-top:15px;
                        font-size: 19px;
                        background-color: @color_buttonShop;
                        display: inline-flex;
                        align-items: center; 
                        justify-content: center;
                        color:@color_white;
                        
                        width: 59px;
	                    height: 32px;
	                    border-radius: 3px;
                    }
                }
            }
        }
    }
}



