.reset();
@import "project.less";




.wrapper{
    .wrapper();
}


.debugGrid{
    .debug(rgba(0, 0, 0, 0.2), 1px solid #f90)
}

body{
    background-color: @color_background;
    font-family: 'BebasNeue';
}

header{
    background-color: @color_white;
    .header{
		
		.row-flex();
		padding:10px 5px 10px 20px;
		
		
        .logo{
			.col();
			.size(2);
            font-family: "Lobster";
            font-size: 49px;
            color:@color_logo;
        }
        
		.d3{
			.col();
			.size(8);
			text-align: center;
			align-self: center;
			
            form {
                
                input {
					width: 434px;
					height: 31px;
					

                }
            }
		}
		.bascet{
			.col();
			.size(1);
			text-align: right;
			align-self: center;
				img{
				 
				}	
		} 
        
		.total{
				.col();
				.size(1);
				text-align: left;
				align-self: center;
				color:@color_summa;
				font-size: 33px;
				font-family: 'BebasNeue';
		} 
    }
}

#mainMeniu{
    background-color: @color_meniuMain;
    
    .navMeniu{
    
        &_Main{
                .row-flex();

                ul{
                    .col();
                    .size(12);
                    padding: 10px 0;
                    

                    li{
                        display:inline;
                        font-size: 21px;
                        padding:0 20px;
                        box-sizing: border-box;
                        &:not(:last-of-type){
                            border-right: 2px solid;
                            border-color: @color_white;
                           
                        }
                        a{
                            text-decoration: none;
                            color:@color_white;
                        
                        }
                    }
                }
        }
    }
}

